<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src={{iconSrc}} width="30" height="30" class="d-inline-block-align-top" alt="">
        Mo Ager
    </a>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <button onclick="setActiveButton('aboutMePage')" id="aboutMePage" type="button" class={{classAboutMe}} routerLink="/about-me">About Me</button>
        <button onclick="setActiveButton('projectsPage')"id="projectPage" type="button" class={{classProject}} routerLink="/projects">Projects</button>
        <button onclick="setActiveButton('experiencePage')" id="experiencePage" type="button" class={{classExperience}} routerLink="/experience">Experience</button>
        <button onclick="setActiveButton('educationPage')" id="educationPage" type="button" class={{classEducation}} routerLink="/education">Education</button>
    </nav>
</nav>