<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src={{iconSrc}} width="30" height="30" class="d-inline-block-align-top" alt="">
        Mo Ager
    </a>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a id="button" class="flex-sm-fill text-sm-center nav-link" routerLink="/about-me">About Me</a>
        <a id="button" class="flex-sm-fill text-sm-center nav-link" routerLink="/projects">Projects</a>
        <a id="button" class="flex-sm-fill text-sm-center nav-link" routerLink="/experience">Experience</a>
        <a id="button" class="flex-sm-fill text-sm-center nav-link" routerLink="/education">Education</a>
    </nav>
</nav>