<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src={{iconSrc}} width="30" height="30" class="d-inline-block-align-top" alt="">
        Mermaid Development Ltd.
    </a>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" href="#">Active</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
        <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>
      </nav>
</nav>